.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #c5c3c3;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    font-size: 16px;
}
.auth-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.auth-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.auth-form p {
    text-align: left;
}
.auth-form input {
    border: 1px solid #c5c3c3;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}
.auth-button {
    margin-top: 10px;
    padding: 10px 30px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;

}
.auth-button:hover {
    background-color: #5a5959;
}